TELEGRAM_BOT_TOKEN=
HERMES_TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
HERMES_TELEGRAM_CHAT_ID=
MESSAGE_GATEWAY_PORT=8787
MESSAGE_GATEWAY_ALLOWED_ORIGIN=http://127.0.0.1:3000
NEXT_PUBLIC_TELEGRAM_GATEWAY_URL=http://127.0.0.1:8787/messages
NEXT_PUBLIC_TELEGRAM_CHANNEL_URL=
